  .container-fluid {
      padding-top: 0px;
      padding-bottom: 40px;
      margin-right: 20px;
      margin-left: 15px;
  }
  
  .container-canvas {
      margin: 0 auto;
      width: 1024px;
  }

  svgHeatMap,
  canvasHeatMap {
    position: absolute;
    z-index: 2
  }


  .bar rect {
    fill: steelblue;
  }
  
  .bar2 rect {
    fill: orange;
    opacity: 0.75;
  }

  .bar text {
    fill: #fff;
    font: 10px sans-serif;
  }

  .slider.slider-horizontal {
   width: 1000px;
   height: 20px;
  }
  
  .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: top;
  }


    
    
    
    
    
    
    

