
.nodes circle {
  pointer-events: all;
  stroke: none;
  stroke-width: 40px;
}

canvas {
/*  width: 100%;
  height: auto;
  max-width: 1024px;
  max-height: 720px; */
}

.pull-left {
  float: pull-left !important;
}

.btn-space {
    margin-top: 5px;
}
